.main-container {
  background-color: rgb(197, 197, 197);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 900px;
  height: 900px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: rgb(150, 120, 230);
  width: 30%;
  height: 30%;
  border-radius: 15px;
  margin: 10px;
  transition: 0.2s;
  cursor: pointer;
  font-size: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.box:hover {
  background-color: rgb(103, 67, 204);
}
